<!DOCTYPE html>
{% load static %}
<html>
    <head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/report.css' %}" />
    </head>
    <body>
        <form action="{% url 'selectTools' %}" method="POST">
            {% csrf_token %}
            <div>
                <h2>Select Tools</h2>
                <label><input type="checkbox" name="tools" value="XXE">XXE</label>
                <label><input type="checkbox" name="tools" value="Injection">Injection</label>
                <label><input type="checkbox" name="tools" value="XSS">XSS</label>
                <label><input type="checkbox" name="tools" value="Broken Authentication">Broken Authentication</label>
                <label><input type="checkbox" name="tools" value="Broken Access Control">Broken Access Control</label>
            </div>
            <button type="submit">Next</button>
        </form>
    </body>
</html>

