<!DOCTYPE html>
{%load static %}

<html>
    <head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/report.css' %}" />
    </head>
    <body>
        <form action="{% url 'getIDPW' %}" method="POST">
            {% csrf_token %}
            <div>
                ID : 
                <input type="text" name="id" />
                Password :
                <input type="password" name="pw" />
            </div>
            <input type="hidden" name="url" value="{{ url }}">
              {% for tool in tools %}
                  <input type="hidden" name="tools" value="{{ tool }}">
              {% endfor %}
            <button type="submit">Next</button>
        </form>
    </body>
</html>