<!DOCTYPE html>
{%load static %}

<html>
  <head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'assets/css/report.css' %}" />
  </head>
  <body>
    <!----Header---->
    <div class="page_title">
      <h1>Result</h1>
    </div>

    <!----Side---->
    <div class="selected_tools">
      <nav>
        <ul>
          {% for tool in tools %}
          <li><a href="">{{tool}}</a></li>
          {% endfor %}
        </ul>
      </nav>
    </div>

    <div class="result_info">
      asdf
    </div>
  </body>
</html>