<!DOCTYPE html>
{%load static %}

<html>
  <head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

      <link rel="stylesheet" href="{% static 'assets/css/report.css' %}" />
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

      <link rel="stylesheet" href="{% static 'assets/css/chart.min.css' %}">
  </head>
  <body>
    <!----Header---->
    <div class="page_title">
      <h1>Result</h1>
    </div>
    <!----Body---->
    <div class="row">
      <div class="w3-container">
        <!---Show SideBar--->
        <div style="float: left; padding-left: 50px; text-align: center; margin-right: 10px;">
            <h2>TOOLS</h2>
            <div style="width:150px; text-align: center;">
                {% for tool in tools %}
                      <button class="w3-bar-item w3-button w3-hover-pink" onclick="openCity('{{ tool }}')">{{ tool }}</button>
                {% endfor %}
            </div>
        </div>
        <!----Show Res---->
        <div style="float: left; padding-left: 130px">
              <div id="result" class="w3-container city">
                <h2>total result page</h2>
                <p>total result page.</p>
              </div>

              <div id="XSS" class="w3-container city" style="display:none">
                <!-- Pie Chart -->
              <div class="card shadow mb-4">
                  <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">XSS Result </h6>
                  </div><br>
                  <div class="col-xl-4 col-lg-5">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div
                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">All Attack</h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-pie pt-4 pb-2">
                                <canvas id="xss_chart"></canvas>
                            </div>
                            <div class="mt-4 text-center small">
                                <span class="mr-2">
                                    <i class="fas fa-circle text-success"></i> Attack Failed
                                </span>
                                <span class="mr-2">
                                    <i class="fas fa-circle text-danger"></i> Attack Succeed
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Card Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Your Dangers</h6>
                    </div>
                    <div class="card-body">
                    <!--card Info-->
                        {% for table in XSS.tableRes %}
                            <h4 class="small font-weight-bold" style="color: #5c6578">{{ table.XssType }} XSS <span
                                    class="float-right">{{ table.SucceedAttackRate }}%</span></h4>
                            <div class="progress mb-4">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: {{ table.SucceedAttackRate }}%"
                                    aria-valuenow="{{ table.SucceedAttackRate }}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">XSS Fuzzing Test Result </h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>method</th>
                                        <th>URL</th>
                                        <th>Total Attack</th>
                                        <th>Succeed Attack</th>
                                        <th>Attack Code</th>
                                    </tr>
                                </thead>
                                <!--ChartInfo-->
                                <tbody>
                                    {% for table in XSS.tableRes %}
                                    <tr>
                                        <td>{{ table.method }}</td>
                                        <td>{{ table.URL }}</td>
                                        <td>{{ table.TotalAttack }}</td>
                                        <td>{{ table.SucceedAttack }}</td>
                                        <td>
                                            <details>
                                                <summary>Code</summary>
                                                {% for code in table.AttackCode %}
                                                    <p>{{ code }}</p>
                                                {% endfor %}
                                            </details>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
              </div>
              </div>

              <div id="Injection" class="w3-container city" style="display:none">
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Injection Result </h6>
                  </div><br>
                <!-- Pie Chart -->
                <div class="col-xl-4 col-lg-5">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div
                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Injection Result Chart</h6>
                            
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-area-demo pt-4 pb-2">
                                <canvas id="in_chart" width="400" height="200" style="margin: 0 auto"></canvas>
                            </div>
                            <div class="mt-4 text-center small">
                                <span class="mr-2">
                                    <i class="fas fa-circle text-success"></i> Parameter
                                </span>
                                <span class="mr-2">
                                    <i class="fas fa-circle text-danger"></i> Suspicious
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Injection Result Table</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Number</th>
                                        <th>method</th>
                                        <th>URL</th>
                                        <th>Parameters</th>
                                        <th>Suspicious Prameters</th>
                                        <th>Attack Payload</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for table in Injection.injection_tables %}
                                        <tr>
                                            <td>{{ table.Number }}</td>
                                            <td>{{ table.Method }}</td>
                                            <td>{{ table.Page_URL }}</td>
                                            <td>{{ table.Parameters }}</td>
                                            <td>{{ table.Suspicious_Parameters }}</td>
                                            <td>
                                                <details>
                                                    <summary>SQL_Injection</summary>
                                                    {% for code in table.Payload.SQL_Injection %}
                                                        <p>{{ code }}</p>
                                                    {% endfor %}
                                                </details>
                                                <details>
                                                    <summary>Command_Injection</summary>
                                                    {% for code in table.Payload.Command_Injection %}
                                                        <p>{{ code }}</p>
                                                    {% endfor %}
                                                </details>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                </div>
              </div>

              <div id="XXE" class="w3-container city" style="display:none">
                  <div class="card shadow mb-4">
                  <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">XXE Result </h6>
                  </div><br>
                      <div class="col-xl-4 col-lg-5">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div
                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">General</h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-pie pt-4 pb-2">
                                <canvas id="xxe_gen_chart"></canvas>
                            </div>
                            <div class="mt-4 text-center small">
                                <span class="mr-2">
                                    <i class="fas fa-circle text-success"></i> Fail
                                </span>
                                <span class="mr-2">
                                    <i class="fas fa-circle text-danger"></i> Success
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                      <div class="col-xl-4 col-lg-5">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div
                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Out of Bound</h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-pie pt-4 pb-2">
                                <canvas id="xxe_oob_chart"></canvas>
                            </div>
                            <div class="mt-4 text-center small">
                                <span class="mr-2">
                                    <i class="fas fa-circle text-success"></i> Fail
                                </span>
                                <span class="mr-2">
                                    <i class="fas fa-circle text-danger"></i> Success
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">General XXE</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>URL</th>
                                        <th>Content</th>
                                    </tr>
                                </thead>
                                <!--ChartInfo-->
                                <tbody>
                                    {% for table in XXE.gen_tables %}
                                    <tr>
                                        <td>{{ table.url }}</td>
                                        <td>{{ table.content }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
              <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Out-of-bound XXE</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>URL</th>
                                        <th>Content</th>
                                    </tr>
                                </thead>
                                <!--ChartInfo-->
                                <tbody>
                                    {% for table in XXE.oob_tables %}
                                    <tr>
                                        <td>{{ table.url }}</td>
                                        <td>{{ table.content }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
              </div>
              </div>
              <div id="Broken Access Control" class="w3-container city" style="display:none">
              <div class="card shadow mb-4">
                  <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Broken Access Control</h6>
                  </div><br>
                <!----barChart-->
                <!---전화 필요-->
                <div class="col-xl-4 col-lg-5">
                  <div class="card shadow mb-4">
                      <!-- Card Header - Dropdown -->
                      <div
                          class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                          <h6 class="m-0 font-weight-bold text-primary">login count</h6>
                      </div>
                      <!-- Card Body -->
                      <div class="card-body">
                          <div class="chart-pie pt-4 pb-2">
                              <canvas id="acc_chart" width="400" height="250"></canvas>
                          </div>
                      </div>
                  </div>
                    <div class="card shadow mb-4">
                                  <div class="card-header py-3">
                                      <h6 class="m-0 font-weight-bold text-primary">Destination Page</h6>
                                  </div><br>
                            <table class="table table-bordered" id="dataTable" width="100" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Destination</th>
                                        <th>Success</th>
                                        <th>Fail</th>
                                        <th>Info</th>
                                    </tr>
                                </thead>
                                <!--ChartInfo-->
                                <tbody>
                                    {% for table in AccessControl.dict_table %}
                                    <tr>
                                        <td>{{ table.dictpage_Destination_Page }}</td>
                                        <td>{{ table.dictpage_Success }}</td>
                                        <td>{{ table.dictpage_Fail }}</td>
                                        <td>
                                            <details>
                                                <summary>Info</summary>
                                                {% for code in table.dictpage_Info %}
                                                    <p>{{ code }}</p>
                                                {% endfor %}
                                            </details>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                    <div class="card-header py-3">
                                      <h6 class="m-0 font-weight-bold text-primary">Admin Destination Page</h6>
                                  </div><br>
                    <table class="table table-bordered" id="dataTable" width="100" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Destination</th>
                                        <th>Success</th>
                                        <th>Fail</th>
                                        <th>Info</th>
                                    </tr>
                                </thead>
                                <!--ChartInfo-->
                                <tbody>
                                    {% for table in AccessControl.admin_table %}
                                    <tr>
                                        <td>{{ table.adminpage_Destination_Page }}</td>
                                        <td>{{ table.adminpage_Success }}</td>
                                        <td>{{ table.adminpage_Fail }}</td>
                                        <td>
                                            <details>
                                                <summary>Info</summary>
                                                {% for code in table.adminpage_Info %}
                                                    <p>{{ code }}</p>
                                                {% endfor %}
                                            </details>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                    </div>

                </div>
              </div>
              </div>

              <div id="Broken Authentication" class="w3-container city" style="display:none">
                <!-- DataTales Example -->
                <div class="card shadow mb-4">
                  <div class="card-header py-3">
                      <h6 class="m-0 font-weight-bold text-primary">Broken Authentication Result </h6>
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                              <thead>
                                  <tr>
                                      <th>Session ID</th>
                                      <th>Source IP</th>
                                      <th>Logined IP</th>
                                      <th>Secure</th>
                                      <th>Discard</th>
                                      <th>HTTP Only</th>
                                      <th>samesite</th>
                                  </tr>
                              </thead>
                              <!--ChartInfo-->
                              <tbody>
                                <tr>
                                    <td>{{ Authentication.table.SessionID }}</td>
                                    <td>{{ Authentication.table.SourceIP }}</td>
                                    <td>{{ Authentication.table.LoginedIP }}</td>
                                    <td>{{ Authentication.table.Secure }}</td>
                                    <td>{{ Authentication.table.Discard }}</td>
                                    <td>{{ Authentication.table.HTTPOnly }}</td>
                                    <td>{{ Authentication.table.samesite }}</td>
                                </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
                    <div class="col-xl-4 col-lg-5">
                    <div class="card shadow mb-4">
                        <!-- Card Header - Dropdown -->
                        <div
                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                            <h6 class="m-0 font-weight-bold text-primary">Max age(sec)</h6>
                        </div>
                        <!-- Card Body -->
                        <div class="card-body">
                            <div class="chart-pie pt-4 pb-2">
                                <canvas id="auth_chart"></canvas>
                            </div>
                        </div>
                    </div><br>
                    <h4 class="m-0 font-weight-bold text-primary">Expires : {{ Authentication.chart.Expires }}</h4>
                    <br><br>
                </div>
                </div>
              </div>
              </div>

        </div>
        </div>
      </div>

      <!--Script zone-->
      <script src="{% static 'assets/vendor/chart.js/Chart.min.js' %}"></script>
      <script>
        function openCity(cityName) {
          var i;
          var x = document.getElementsByClassName("city");
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";
          }
          document.getElementById(cityName).style.display = "block";
        }
        function number_format(number, decimals, dec_point, thousands_sep) {
          // *     example: number_format(1234.56, 2, ',', ' ');
          // *     return: '1 234,56'
          number = (number + '').replace(',', '').replace(' ', '');
          var n = !isFinite(+number) ? 0 : +number,
              prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
              sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
              dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
              s = '',
              toFixedFix = function(n, prec) {
              var k = Math.pow(10, prec);
              return '' + Math.round(n * k) / k;
              };
          // Fix for IE parseFloat(0.55).toFixed(0) = 0;
          s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
          if (s[0].length > 3) {
              s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
          }
          if ((s[1] || '').length < prec) {
              s[1] = s[1] || '';
              s[1] += new Array(prec - s[1].length + 1).join('0');
          }
          return s.join(dec);
        }
        var totSuccess = parseInt({{XSS.charTotcnt.tot_success}})
        var total = parseInt({{XSS.charTotcnt.tot_try}})
        var xss_chart = new Chart(document.getElementById("xss_chart"), {
            type: 'doughnut',
            data: {
                labels: ["Attack Succeed", "Attack Failed"],
                datasets: [{
                    data: [totSuccess,(total-totSuccess)],
                    backgroundColor: ['#e74a3b', '#1cc88a'],
                    hoverBackgroundColor: ['#bf3c30', '#17a673'],
                    hoverBorderColor: "rgba(234, 236, 244, 1)",
                }],
            },
            options: {
                maintainAspectRatio: false,
                tooltips: {
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                caretPadding: 10,
                },
                legend: {
                display: false
                },
                cutoutPercentage: 80,
            },
        });

        var parameters = {{Injection.injection_charts.parameters}}
        var x_labels = {{ Injection.injection_charts.number }}
        var suspicious_parameters = {{Injection.injection_charts.suspicious_parameters}}
        var in_chart = new Chart(document.getElementById("in_chart"), {
            type: 'line',
            data: {
                labels: x_labels,
                datasets: [{
                    label: "Parameters",
                    lineTension: 0.3,
                    backgroundColor: "rgba(28, 200, 138, 0.05)",
                    borderColor: "rgba(28, 200, 138, 1)",
                    pointRadius: 3,
                    pointBackgroundColor: "rgba(28, 200, 138, 1)",
                    pointBorderColor: "rgba(28, 200, 138, 1)",
                    pointHoverRadius: 3,
                    pointHoverBackgroundColor: "rgba(28, 200, 138, 1)",
                    pointHoverBorderColor: "rgba(28, 200, 138, 1)",
                    pointHitRadius: 10,
                    pointBorderWidth: 2,
                    data: parameters,
                },{
                    label: "Suspicious Parameters",
                    lineTension: 0.3,
                    backgroundColor: "rgba(231, 74, 59, 0.1)",
                    borderColor: "rgb(231,74,59)",
                    pointRadius: 3,
                    pointBackgroundColor: "rgba(231, 74, 59, 1)",
                    pointBorderColor: "rgba(231, 74, 59, 1)",
                    pointHoverRadius: 3,
                    pointHoverBackgroundColor: "rgba(231, 74, 59, 1)",
                    pointHoverBorderColor: "rgba(231, 74, 59, 1)",
                    pointHitRadius: 10,
                    pointBorderWidth: 2,
                    data: suspicious_parameters,
                }],
            },
            options: {
                responsive: false,
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0
                  },
                },
                scales: {
                    xAxes: [{
                        time: {
                            unit: 'date'
                        },
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        ticks: {
                            maxTicksLimit: 7
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            min: 0,
                            max: 5,
                            stepSize: 1,
                        },
                        gridLines: {
                            color: "rgb(234, 236, 244)",
                            zeroLineColor: "rgb(234, 236, 244)",
                            drawBorder: false,
                            borderDash: [1],
                            zeroLineBorderDash: [1]
                        }
                    }],
                },
                legend: {
                    display: false
                },
                tooltips: {
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    titleMarginBottom: 10,
                    titleFontColor: '#6e707e',
                    titleFontSize: 14,
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    intersect: false,
                    mode: 'index',
                    caretPadding: 10,
                }
            }
        });

        var Target = {{Authentication.chart.Target}}
        var Standard = {{ Authentication.chart.Standard }}
        var auth_chart = new Chart(document.getElementById("auth_chart"), {
            type: 'bar',
            data: {
                labels: ["Target", "Standard"],
                datasets: [{
                    label: "Max age",
                    backgroundColor: "#E74A3B",
                    hoverBackgroundColor: "#bd4137",
                    borderColor: "#ea5a4c",
                    data: [Target, Standard],
                },],
            },
            options: {
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0
                    }
                },
                scales: {
                    xAxes: [{
                        time: {
                            unit: 'month'
                        },
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        ticks: {
                            maxTicksLimit: 6
                        },
                        maxBarThickness: 25,
                    }],
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 700,
                            padding: 10,
                        },
                        gridLines: {
                            color: "rgb(234, 236, 244)",
                            zeroLineColor: "rgb(234, 236, 244)",
                            drawBorder: false,
                            borderDash: [2],
                            zeroLineBorderDash: [2]
                        }
                    }],
                },
                legend: {
                    display: false
                },

            }
        });

        var urls = {{ AccessControl.target_urls|safe }}
        var counts = {{ AccessControl.login_counts }}
        var acc_chart = new Chart(document.getElementById("acc_chart"), {
            type: 'bar',
            data: {
                labels: urls,
                datasets: [{
                    label: "Revenue",
                    backgroundColor: "#4e73df",
                    hoverBackgroundColor: "#2e59d9",
                    borderColor: "#4e73df",
                    data: counts,
                }],
            },
            options: {
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0
                    }
                },
                scales: {
                    xAxes: [{
                        time: {
                            unit: 'month'
                        },
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        ticks: {
                            maxTicksLimit: 6
                        },
                        maxBarThickness: 25,
                    }],
                    yAxes: [{
                        ticks: {
                            min: 0,
                            max: 10,
                            padding: 10,
                        },
                        gridLines: {
                            color: "rgb(234, 236, 244)",
                            zeroLineColor: "rgb(234, 236, 244)",
                            drawBorder: false,
                            borderDash: [2],
                            zeroLineBorderDash: [2]
                        }
                    }],
                },
                legend: {
                    display: false
                },
                tooltips: {
                    titleMarginBottom: 10,
                    titleFontColor: '#6e707e',
                    titleFontSize: 14,
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    caretPadding: 10,
                },
            }
        });

        var genSuccess = parseInt({{XXE.gen_chart.success}})
        var genFail = parseInt({{XXE.gen_chart.fail}})
        var xxe_gen_chart = new Chart(document.getElementById("xxe_gen_chart"), {
            type: 'doughnut',
            data: {
                labels: ["Succeed", "Failed"],
                datasets: [{
                    data: [genSuccess, genFail],
                    backgroundColor: ['#e74a3b', '#1cc88a'],
                    hoverBackgroundColor: ['#bf3c30', '#17a673'],
                    hoverBorderColor: "rgba(234, 236, 244, 1)",
                }],
            },
            options: {
                maintainAspectRatio: false,
                tooltips: {
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                caretPadding: 10,
                },
                legend: {
                display: false
                },
                cutoutPercentage: 80,
            },
        });

        var oobSuccess = parseInt({{XXE.oob_chart.success}})
        var oobFail = parseInt({{XXE.oob_chart.fail}})
        var xxe_oob_chart = new Chart(document.getElementById("xxe_oob_chart"), {
            type: 'doughnut',
            data: {
                labels: ["Succeed", "Failed"],
                datasets: [{
                    data: [oobSuccess, oobFail],
                    backgroundColor: ['#e74a3b', '#1cc88a'],
                    hoverBackgroundColor: ['#bf3c30', '#17a673'],
                    hoverBorderColor: "rgba(234, 236, 244, 1)",
                }],
            },
            options: {
                maintainAspectRatio: false,
                tooltips: {
                backgroundColor: "rgb(255,255,255)",
                bodyFontColor: "#858796",
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: false,
                caretPadding: 10,
                },
                legend: {
                display: false
                },
                cutoutPercentage: 80,
            },
        });




        </script>
    </div>
  </body>
</html>